Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on 

#páginas
RewriteRule ^login/?$ index.php 
RewriteRule ^home/?$ views/home.php 
RewriteRule ^profile/?$ views/account-profile.php

RewriteRule ^user-list/?$ views/users/user-list.php 
RewriteRule ^user-details/?$ views/users/user-details.php 

RewriteRule ^customers-list/?$ views/customers/customers-list.php 
RewriteRule ^customer-details/?$ views/customers/customer-details.php 

RewriteRule ^categories/?$ views/catalogues/categories.php 
RewriteRule ^brands/?$ views/catalogues/brands.php 
RewriteRule ^tags/?$ views/catalogues/tags.php 

RewriteRule ^coupons-list/?$ views/coupon/coupons-list.php 
RewriteRule ^coupon-details/?$ views/coupon/coupon-details.php 

RewriteRule ^products-list/?$ views/products/products-list.php 
RewriteRule ^product-details/?$ views/products/product-details.php 

RewriteRule ^orders-list/?$ views/order/orders-list.php 
RewriteRule ^order-details/?$ views/order/order-details.php 



#RewriteCond %{REQUEST_URI} ^\/404/$
#RewriteRule ^(.*)$ /views/errors/404.php [L]